
<div class="card">
    <div class="card-header">User List</div>
    <div class="card-body">
        <table class="table table-bordered table-sm">
          <thead>
           <tr>
             <th>Sr No</th>
             <th>Suffix</th>
             <th>First Name</th>
             <th>Middle Name</th>
             <th>Last Name</th>
             <th>Email</th>
             <th>Mobile Number</th>
             <th>Address</th>
             <th>City</th>
             <th>Action</th>
            
            
           </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of userList;let i=index" >
                  <td>{{i+1}}</td>
                  <td>{{user.suffix}}</td>
                  <td>{{user.firstname}}</td>
                  <td>{{user.middlename}}</td>
                  <td>{{user.lastname}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.phonenumber}}</td>
                  <td>{{user.alladdresses}}</td>
                  
                 
                  <td>
                      <button class="btn btn-sm btn-success" [routerLink]="['/userupdate',user.userId]" >Edit</button>
                      <button class="btn btn-sm btn-secondary" (click)="delete(user.userId)">Delete</button>
                  </td>
                 

              </tr>
             
              
          </tbody>
        </table>
    </div>
</div>